<div class='text-center'>
  <%= link_to 'Ko\'rinishni o\'zgartirish', root_url, class: 'btn btn-primary' %><hr>
</div>
<div class='row'>
  <div class='col-sm-12 main-page-header'>
    <div>
      <h4 class='text-center'>Mijozlar</h4>
      <input class='form-control' type='text' placeholder='qidirish' id='searchInput'>
      <div class='counterparties-max-height'>
        <%= render 'buyers/buyers', buyers: @buyers, shrink: true %>
      </div>
    </div>
  </div>
</div>
