<head>
  <title>Client Map</title>
  <style>
    #map {
      height: 90vh;
      width: 80%;
      margin: 10px auto;
    }
    img {
      border-radius: 0 0 15px 15px;
    }
  </style>
  <script>
  var samarkand;
  var infoWindow;
  var searchBox;
  var markers = [];
  function initMap() {}
  $(() => {
    initMap = function() {
      alert("ok");
    }
  })

  function searchPlaces() {
      var place = searchBox.getPlace();

      if (!place.geometry) {
          window.alert("No details available for input: '" + place.name + "'");
          return;
      }

      // Clear out the old markers
      markers.forEach(function (marker) {
          marker.setMap(null);
      });
      markers = [];

      // Create a marker for the selected place
      var marker = new google.maps.Marker({
          map: samarkand,
          position: place.geometry.location,
          title: place.name
      });

      markers.push(marker);

      // Center the map on the selected place
      samarkand.setCenter(place.geometry.location);
      samarkand.setZoom(16);
  }

  function handleLocationError(browserHasGeolocation, infoWindow, currentLocation) {
      infoWindow.setPosition(currentLocation);
      infoWindow.setContent(browserHasGeolocation ?
          'Error: The Geolocation service failed.' :
          'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(samarkand);
  }
</script>
<script async src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCCrf73WQ7VitOY7_PP0pSGmeBDw-Tiz38&libraries=places&loading=async&callback=initMap&map_ids=7802c15fc3df6792'></script>
</head>

<body>
  <div class='text-center'>
    <%= link_to 'Ko\'rinishni o\'zgartirish', main_page_url, class: 'btn btn-primary' %><hr>
  </div>
  <div id="map-container" style="position: relative;">
    <div class="input-group mb-3">
      <input id="search-box" type="text" class="form-control" placeholder="Поиск" aria-label="Поиск" aria-describedby="basic-addon2">
    </div>
  </div>
  <div id="map"></div>
</body>
