@import "jquery-ui/datepicker";
@import "font-awesome";
@import "bootstrap";
.bottom_buttons{
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
}
.bottom_buttons button {
  width: 50vw;
}
.buyer-label {
  color: white;
  background-color: black;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 4px;
  border-radius: 4px;
}
.categories span {
  padding: 5px 1px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}
.categories{
  max-width: 100%;
  overflow: auto;
  background-color: aliceblue;
  top: 55px;
  left: 0;
  display: flex;
  flex-direction: row;
}
.active-category {
  background-color: blue;
  color: white;
}
#map-container{
  position: relative;
  z-index: 2;
  width: 200px;
  margin: 10px auto;
}

#eye{
  cursor: pointer;
  color: blue;
}
.product_list {
  cursor: pointer;
  padding: 9px;
  margin: 4px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
}

.product_list:hover {
  background: blue;
  color: white;
}

.active {
  color: blue
}

.clicked{
  background-color: yellow;
  transition: background-color 2s;
}

.counterparties-max-height {
  max-height: 720px;
  overflow: auto
}
.category-image{
  width: 90px;
  height: 70px;
  overflow: hidden;
}
.category-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.category-row {
  border: 2px solid grey;
  text-align: center;
}
@media screen and (max-width: 1000px){
  .categories{
    top: 85px;
  }
  .categories span {
    font-size: medium;
  }
}
@media screen and (max-width: 700px){
  .product-sells{
    display: none;
  }
  .bottom_buttons{
    display: flex;
  }
}